{% extends 'base.html' %}

{% block content %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
</div>
{% endfor %}

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Shopping in Online</h1>
          <p class="lead fw-normal text-white-80 mb-0">YA-Ecommerce: The Best Online E-Commerce in The World.</p>
      </div>
  </div>
</header>

<div class="container mt-5">
  {% if shipping_addresses %}
    <h2 class="mb-4 text-center">Your Shipping Addresses</h2>
    <p class="text-center mb-4">Choose one of them for this order:</p>
    <div class="table-responsive">
      <table class="table table-light table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Full Name</th>
            <th>Address Line 1</th>
            <th>Address Line 2</th>
            <th>Building Name</th>
            <th>City</th>
            <th>State/Province</th>
            <th>Postal Code</th>
            <th>Country</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for address in shipping_addresses %}
          <tr>
            <td>{{ address.shipping_full_name }}</td>
            <td>{{ address.shipping_address1 }}</td>
            <td>{{ address.shipping_address2 }}</td>
            <td>{{ address.building_name }}</td>
            <td>{{ address.shipping_city }}</td>
            <td>{{ address.shipping_state }}</td>
            <td>{{ address.shipping_zipcode }}</td>
            <td>{{ address.shipping_country }}</td>
            <td class="d-flex flex-column">
              <a href="{% url 'update_shipping_address' address.token %}" class="btn btn-primary btn-sm mb-2">Update</a>
              <a href="{% url 'delete_shipping_address' address.token %}" class="btn btn-danger btn-sm mb-2">Remove</a>
              <a href="{% url 'order_process' address.token %}" class="btn btn-outline-secondary btn-sm">Use Address</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <p class="text-center mt-4">
      Select a shipping address or 
      <a href="{% url 'add_shipping_address' %}" class="text-primary">add a new one</a>.
    </p>
  {% else %}
    <p class="text-center mt-4">
      You have no shipping addresses. 
      <a href="{% url 'add_shipping_address' %}" class="text-primary">Add a new one</a>.
    </p>
  {% endif %}
</div>

{% endblock %}
